/* Formatting Specifications */

/* BEM Naming Convention */
/* Block: navbar */
/* Element: navbar__link */

/* Commented Rulesets with Explanation */
/* Styles for the top-level navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-light); /* Using color variable */
    overflow: hidden;
}
.nav__link--logo {
    color: var(--clr-primary);
    font-weight: lighter;
  }
/* Styles for navigation links */
.nav__link {
    padding: 12px 14px;
    text-decoration: none;
    color: var(--clr-primary); /* Using color variable */
}
/*.nav__links {
    display: none;
  }
/* Hover state for navigation links */
.nav__link:hover {
    color: var(--clr-accent); /* Using color variable */
    background-color: var(--clr-white);
}

/* Active state for navigation links */
.nav__link.active {
    font-weight: bold;
}

/* Responsiveness */

/* Mobile Layout */
/* Following Normal Document Flow */
/* Minimal Layout Properties, Padding, and Margins */

/* Mobile Layout - Navbar */
.navbar {
    padding: 10px;
}


/* Styles for Side navbar */
  .sidenav {
    
    background-color: var(--clr-light);
    padding-top: 20px;
  }
  .sidenav p {
    color: var(--clr-primary);
    
  }
  .SN__link {
    color: var(--clr-primary);
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
  }
  
  .SN__links {
    text-decoration: none;
    display: none;
    color: var(--clr-primary);
  }
  .SN__link:hover {
    color: var(--clr-secondary);
  }

/* Mobile Layout - Navigation Links */
.nav__link {
    margin: 0 10px; /* Minimal margin */
}

/* Styles for the Design System text */
.design-system {
    font-size: 20px;
    font-weight: bold;
    color: var(--clr-primary); /* Using color variable */
}

/* Mobile Layout - Design System Text */
.design-system {
    font-size: 18px;
}

/* Styles for the hover state of the Design System text */
.design-system:hover {
    color: var(--clr-accent); /* Using color variable */
}

/* Styles for the hamburger icon */
.hamburger {
    display: block;
    cursor: pointer;
  }
