/* Styles for Top navbar */
.mainNav {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-universal);
  overflow: hidden;
  font-family: var(--ff-merri);
  font-weight: var(--fw-700);
  position: fixed; /* Fix the navbar at the top */
  width: 100%; /* Occupy full width */
  top: 0; /* Position at the top */
  z-index: 1000; /* Ensure the navbar is above other content */
}

/* Logo link styling */
.mainNav__link--logo {
  color: var(--clr-white-text);
  font-weight: lighter;
  font-family: var(--ff-pt); /* Change font family */
  font-weight: var(--fw-700);
  font-size: 20px; /* Adjust font size */
}

/* Styling for regular nav links */
.mainNav__link {
  color: var(--clr-white);
  text-decoration: none;
  padding: 14px 16px;
}

/* Hide other nav links by default */
.mainNav__links {
  display: none;
}

/* Hover effect for nav links */
.mainNav__link:hover {
  color: var(--clr-white);
  background-color: var(--clr-dgray);
}

/* Active link styling */
.mainNav__link.active {
  font-weight: bold; /* Example style for the active link */
  color: var(--clr-dgray); /* Example color for the active link */
}

/* Styles for Side navbar */
.side-nav {
  display: none;
  background-color: var(--clr-universal);
  padding-top: 40px;
  z-index: 5; /* Add this line to increase the z-index */
  
}

/* Styling for paragraph elements inside side navbar */
.sidenav p {
  color: var(--clr-white);
}

/* Styling for the list inside side navbar */
.sidenav__list {
  list-style-type: none;
}

/* Styling for side nav links */
.sidenav__link {
  color: var(--clr-white);
  text-decoration: none;
  font-family: var(--ff-nunito);
  display: block;
  margin-bottom: 5px;
}

/* Active side nav link styling */
.sidenav__link.active {
  font-weight: bold; /* Example style for the active link */
  color: var(--clr-dgray); /* Example color for the active link */
}

/* Additional styles for side nav links */
.sidenav__links {
  text-decoration: none;
  display: block;
  font-family: var(--ff-nunito);
  color: var(--clr-white);
}

/* Heading style for side nav */
.sidenav__link-heading {
  font-family: var(--ff-nunito);
  color: var(--clr-white);
  letter-spacing: 1px;
}

/* Hover effect for side nav links */
.sidenav__link:hover {
  color: var(--clr-dgray);
}

/* Hover effect for additional side nav links */
.sidenav__links:hover {
  color: var(--clr-dgray);
}

/* Main body background color */
.main__body {
  background-color: var(--clr-background);
  overflow-y: auto;
  
}

/* Styles for the hamburger icon */
.hamburger {
  display: block;
  cursor: pointer;
  color: var(--clr-white);
}

/* Table styling */
th, td {
  border: 1px solid var(--clr-universal);
  padding: 8px;
  text-align: left;
  font-size: 20px;
}

/* Header row styling */
th {
  background-color: var(--clr-universal);
  color: var(--clr-white-text);
  font-size: 20px;
}
/*color*/
/* color pallete (swatches) */
/*For universal contents(header, footer)*/
.u-universal-bg{
  color: #FFFFFF;
  background-color: var(--clr-universal);
}
.u-universal-text{
  background-color: var(--clr-white);
}
/*For body background and text color*/
.u-bg{
  background-color:var(--clr-background) ;
}
.u-text{
  color: azure;
  background-color: var(--clr-bodytext);
}
.u-hover{
  color: #FFFFFF;
  background-color: var(--clr-hover);
}
/*For CTA*/
.u-accent-cta{
  color: azure;
  background-color:var(--clr-accent) ;
}
.u-accent-hover{
  color: #FFFFFF;
  background-color: var(--clr-accent-hover);
} 

/* Media query for screens larger than 700px */
@media screen and (min-width: 700px) {
  /* Hide hamburger icon on larger screens */
  .hamburger {
    display: none;
  }
  body{
    line-height: var(--ln-height);
  }
  
  /* Show top nav links on larger screens */
  .mainNav__links {
    display: block;
    font-family: var(--ff-pt);
    font-weight: var(--fw-700);
  }

  /* Active link styling for larger screens */
  .mainNav__link.active {
    font-weight: bold;
    color: var(--clr-dgray);
  }

  /* Hide additional side nav links on larger screens */
  .sidenav__links {
    display: none;
  }

  /* Show side navbar on larger screens */
  .side-nav {
    display: block;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 46px;
    left: 0;
    z-index: 1;
    background-color: var(--clr-universal);
    padding-top: 0;
    font-family: var(--ff-nunito);
    font-size: var(--fs-nunito);
  }
  
  /* Main body background color for larger screens */
  .main__body {
    background-color: var(--clr-background);
    overflow-y: auto;
  }

  /* Table styling for larger screens */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid var(--clr-universal);
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: var(--clr-universal);
  }
  
  tr:nth-child(even) {
    background-color: var(--clr-white);
  }
  /* CSS specific to the table on your specific page */
  .sp-container {
    text-align: center;
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  .section{
    border: 1px solid #ccc; /* Add outside border */
    border-radius: 5px; /* Add border radius for a rounded appearance */
  }
  .table-container {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  h3 {
    margin-top: 1.2rem;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
  }
  .values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-bottom: 3.5px; /* Optional: Add margin between each value block */
  }

.values span {
  flex: 1;
  text-align: left;
}

.values span:first-child {
  margin-right: 10px;
}

/* Biography paragraph styling */
.main_content p {
  font-size: 18px;
  line-height: 1.5;
}

/* Other content styling */
.other-content {
  display: flex;
  justify-content: space-around;
  margin-top: 20px; /* Add margin for spacing */
}

/* Favorite tools and skills styling */
.favorite-tools, .skills {
  flex: 1;
}

/* List styling */
.other-content ul {
  list-style-type: none;
  padding: 0;
}

.other-content ul li {
  margin-bottom: 10px; /* Add margin between list items */
}

/*color*/
/* color pallete (swatches) */
/*For universal contents(header, footer)*/


.color-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.color-card {
  width: 300px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.color-info {
  text-align: center;
}
.u-universal-bg{
  height: 70px;
  display: flex;
  color: #FFFFFF;
  background-color: var(--clr-universal);
}
.u-universal-text{
  background-color: var(--clr-white);
}
/*For body background and text color*/
.u-bg{
  background-color:var(--clr-background) ;
}
.u-text{
  color: azure;
  background-color: var(--clr-bodytext);
}
.u-hover{
  color: #FFFFFF;
  background-color: var(--clr-hover);
}
/*For CTA*/
.u-accent-cta{
  color: azure;
  background-color:var(--clr-accent) ;
}
.u-accent-hover{
  color: #FFFFFF;
  background-color: var(--clr-accent-hover);
} 
}
