:root{
    /*Color variales*/
    --clr-background: #f7f4f1; /*Lightest color of the brown*/
    --clr-bodytext: rgb(0, 0, 0); /*For body text*/
    --clr-universal: #b6937b;
    --clr-white-text: #FFFFFF; /*For universal text*/
    --clr-hover: #464140;
    --clr-active: #464140;
    --clr-accent: #022135;
    --clr-accent-hover: #533d2f;
    --clr-white:#FFFFFF; /*for background*/
    --clr-dgray: #464140;

    /*Typography variables*/
    --ff-pt: "PT", sans-serif;
   --ff-lato: "Lato", serif;
   --ff-nunito: "Nunito", sans-serif;
   --fw-700: 700;
   --fw-600: font-weight: 600; 
   --fw-400: font-weight: 400;
   --fs-regular: font-style: normal;
   --fs-bold: font-style: bold;
   --ft-ptsize: font-size: 24px;
   --ft-latosize: font-size: 18px;
   --ft-nnsize: font-size: 16px;

   /*Letter spacing*/
   --fo-ls:  1px;
}

/* CSS reset*/
html {
    box-sizing: border-box;
    /*
    background-color: var(--clr-lgray);*/
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

/* Remove padding from lists */
ul,
ol {
    padding: 0;
}
/* color pallete (swatches) */
/*For universal contents(header, footer)*/
.u-universal-bg{
    color: #FFFFFF;
    background-color: var(--clr-universal);
  }
  .u-universal-text{
    background-color: var(--clr-white);
  }
  /*For body background and text color*/
  .u-bg{
    background-color:var(--clr-background) ;
  }
  .u-text{
    color: azure;
    background-color: var(--clr-bodytext);
  }
  .u-hover{
    color: #FFFFFF;
    background-color: var(--clr-hover);
  }
  /*For CTA*/
  .u-accent-cta{
    color: azure;
    background-color:var(--clr-accent) ;
  }
  .u-accent-hover{
    color: #FFFFFF;
    background-color: var(--clr-accent-hover);
  } 

/* Typography font family classes */

.u-ff-pt{font-family: var(--ff-pt)}
.u-ff-lato{font-family: var(--ff-lato)}
.u-ff-nunito{font-family: var(--ff-nunito)}

/* Typography font weight and style classes */
/*Merriweather, font weight 700 for headings*/
.u-ff-pt-700{font-weight: var(--fw-700);}
.u-ff-lato-600{font-weight: var(--fw-600);}
.u-ff-nunito-400{font-weight: var(--fw-400);}


/*Letter space*/
.u-letterspace{letter-spacing: var(--fo-ls)}