:root{
    /*Color variales*/
    --clr-white:#FFFFFF; 
    --clr-white-text: #FFFFFF;
    --clr-dgray: #464140;
    --clr-accent: #49033A; 
    --clr-universal: #a28bad; 
    --clr-lgray: #e0e0e7;

    /*Typography variables*/
   --ff-merri: "Merriweather", serif;
   --ff-roboto:  "Roboto", sans-serif;
   --fw-300:  "Merriweather", serif; font-weight: 300; font-style: normal;
   --fw-400:  "Roboto", serif; font-weight: 400; font-style: normal;
   --fw-700: "Merriweather", serif; font-weight: 700; font-style: normal;

   /*Letter spacing*/
   --fo-ls:  2px;
}

/* CSS reset*/
html {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

/* Remove padding from lists */
ul,
ol {
    padding: 0;
}


/* color pallete (swatches) */
/*For body background and text color*/
.u-bg{
    background-color:var(--clr-lgray) ;
}
.u-text{
    color: azure;
    background-color: var(--clr-dgray);
}
/*GFor CTA*/
.u-accent-cta{
    color: azure;
    background-color:var(--clr-accent) ;
}
/*For universal contents(header, footer)*/
.u-universal-bg{
    color: #FFFFFF;
    background-color: var(--clr-universal);
}
.u-universal-text{
    background-color: var(--clr-white);
}

/* Typography font family classes */
/*Merriweather font family*/
.u-ff-merriweather{font-family: var(--ff-merri)}

/*Roboto font family*/
.u-ff-roboto{font-family: var(--ff-roboto)}

/* Typography font weight and style classes */
/*Merriweather, font weight 700 for headings*/
.u-ff-merriweather-700{font-weight: var(--fw-700);}
/*Merriweather, font weight 300 for sub headings*/
.u-ff-merriweather-300{font-weight: var(--fw-300);}
/*Roboto, font weight 300 for text content*/
.u-ff-roboto-400{font-weight: var(--fw-400);}

/*Letter space*/
.u-letterspace{letter-spacing: var(--fo-ls)}