*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  background-color: var(--clr-universal);
}
li{
  list-style: none;
}
a{
  color: var(--clr-white-text);
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-universal);
  overflow: hidden;
  font-family: var(--ff-merri);
  font-weight: var(--fw-700);
  padding: 15px;
  position: fixed; /* Fix the navbar at the top */
  width: 100%; /* Occupy full width */
  top: 0; /* Position at the top */
  left: 0;
  z-index: 1000; /* Ensure the navbar is above other content */
}
.nav-menu{
  display: flex;
  justify-content: space-between;

  align-items: center;
  gap: 60px;
}
/* Logo link styling */
.mainNav__link--logo {
  color: var(--clr-white-text);
  font-weight: lighter;
  font-family: var(--ff-pt); /* Change font family */
  font-weight: var(--fw-700);
  font-size: 20px; /* Adjust font size */
}

/* Styling for regular nav links */
.mainNav__link {
  color: var(--clr-white);
  text-decoration: none;
  padding: 14px 16px;
}
/* Active link styling */
.mainNav__link.active {
  font-weight: bold; /* Example style for the active link */
  color: var(--clr-dgray); /* Example color for the active link */
}
/* Show top nav links on larger screens */
.mainNav__links {
    display: block;
    font-family: var(--ff-pt);
    font-weight: var(--fw-700);
}
/* Hover effect for nav links */
.mainNav__link:hover {
  color: var(--clr-white);
  background-color: var(--clr-dgray);
}
.mainNav__links:hover {
  color: var(--clr-white);
  background-color: var(--clr-dgray);
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #FFFFFF;
}
@media(max-width:768px){
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--clr-universal);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item{
    margin: 16px 0;
  }
  .nav-menu.active{
    left: 0;
    
  }
}
:root{
    /*Color variales*/
    --clr-background: #FFFFFF; /*Lightest color of the brown*/
    --clr-bodytext: rgb(0, 0, 0); /*For body text*/
    --clr-universal: #365a72;
    --clr-white-text: #FFFFFF; /*For universal text*/
    --clr-hover: #464140;
    --clr-active: #464140;
    --clr-accent: #022135;
    --clr-accent-hover: #533d2f;
    --clr-white:#FFFFFF; /*for background*/
    --clr-dgray: #464140;

    /*Typography variables*/
    --ff-pt: "PT", sans-serif;
   --ff-lato: "Lato", sans-serif;
   --ff-nunito: "Nunito", sans-serif;
   --fw-700: 700;
   --fw-600: 600; 
   --fw-400: 400;
   --fs-regular: normal;
   --fs-bold: bold;
   --ft-ptsize: 32px;
   --ft-latosize: 24px;
   --ft-nnsize: 18px;

   /*Letter spacing*/
   --fo-ls:  1px;

   /*Line- Height*/
   --ln-height: 5rem;
}

/* CSS reset*/
html {
    box-sizing: border-box;
    /*
    background-color: var(--clr-lgray);*/
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

/* Remove padding from lists */
ul,
ol {
    padding: 0;
}


/* Typography font family classes */
/*font Family*/
.u-ff-pt{font-family: var(--ff-pt)}
.u-ff-lato{font-family: var(--ff-lato)}
.u-ff-nunito{font-family: var(--ff-nunito)}

/* Typography font weight and style classes */
/*font weight for all of them*/
.u-ff-pt-700{font-weight: var(--fw-700);}
.u-ff-lato-600{font-weight: var(--fw-600);}
.u-ff-nunito-400{font-weight: var(--fw-400);}

/*font sizes for all of them*/
.u-ft-ptsize{font-size: var(--ft-ptsize);}
.u-ft-latosize{font-size: var(--ft-latosize);}
.u-ft-nnsize{font-size: var(--ft-nnsize);}

/*font style for all of them*/
.u-ft-bold{font-style: var(--fs-bold);}
.u-ft-regular{font-style: var(--fs-regular);}

/*Letter space*/
.u-letterspace{letter-spacing: var(--fo-ls)}

/*Line height*/
.u-line-height{line-height: var(--lh-height);}

/* Margin classes */
.l-m { margin: 1rem; /* 16px */ }
.l-mt-1 {margin-top: 1rem; /* 16px */}
.l-mr-1 {margin-right: 1rem; /* 16px */}
.l-mb-1 {margin-bottom: 1rem; /* 16px */}
.l-ml-1 {margin-left: 1rem; /* 16px */}
.l-mx-1 {margin-left: 1rem; /* 16px */margin-right: 1rem; /* 16px */}
.l-my-1 {margin-top: 1rem; /* 16px */margin-bottom: 1rem; /* 16px */}

/* Padding classes */
.l-p {padding: 1rem; /* 16px */}
.l-pt-1 {padding-top: 1rem; /* 16px */}
.l-pr-1 {padding-right: 1rem; /* 16px */}
.l-pb-1 {padding-bottom: 1rem; /* 16px */}
.l-pl-1 {padding-left: 1rem; /* 16px */}
.l-px-1 {padding-left: 1rem; /* 16px */padding-right: 1rem; /* 16px */}
.l-py-1 {padding-top: 1rem; /* 16px */padding-bottom: 1rem; /* 16px */}

/*Flex classes*/
/* Flex layout classes */
.l-flex {display: flex;}
.l-flex-row {flex-direction: row;}
.l-flex-column {flex-direction: column;}
.l-flex-wrap {flex-wrap: wrap;}
.l-flex-center {justify-content: center;align-items: center;}
.l-flex-between {justify-content: space-between;}
.l-flex-around {justify-content: space-around;}
.l-flex-start {justify-content: flex-start;}
.l-flex-end {justify-content: flex-end;}

/* Grid layout classes */
.l-grid {display: grid;}
.l-grid-cols-2 {grid-template-columns: repeat(2, 1fr);}
.l-grid-cols-3 {grid-template-columns: repeat(3, 1fr);}
.l-grid-cols-4 {grid-template-columns: repeat(4, 1fr);}
.l-grid-gap {gap: 1rem; /* Adjust as needed */}
.l-grid-center {justify-items: center;align-items: center;}
.l-grid-middle {justify-items: center;align-items: center;}
.l-grid-auto {grid-auto-rows: minmax(auto, max-content);}

/*Spacing classes*/

/********************* Margin classes ************************/
.l-m-0-25 {margin: 0.25rem;} /* 4px */
.l-m-0-5 {margin: 0.5rem;} /* 8px */
.l-m-0-75 {margin: 0.75rem;}/* 12px */
/*1*/
.l-m-1 {margin: 1rem;}/* 16px */
.l-m-1-25 {margin: 1.25rem;}/* 20px */
.l-m-1-5 {margin: 1.5rem;} /* 24px */
.l-m-1-75 {margin: 1.75rem;}/* 28px */
/*2*/
.l-m-2 {margin: 2rem;} /* 32px */
.l-m-2-25 {margin: 2.25rem;} /* 36px */
.l-m-2-5 {margin: 2.5rem;} /* 40px */
.l-m-2-75 {margin: 2.75rem;} /* 44px */
/*3*/
.l-m-3 {margin: 3rem;} /* 48px */
.l-m-3-25 {margin: 3.25rem;} /* 52px */
.l-m-3-5 {margin: 3.5rem;} /* 56px */
.l-m-3-75 {margin: 3.75rem;} /* 60px */
/*4*/
.l-m-4 {margin: 4rem;} /* 64px */
.l-m-4-25{margin: 4.25rem;} /* 68px */
.l-m-4-5 {margin: 4.5rem;} /* 72px */
.l-m-4-75 {margin: 4.75rem;} /* 76px */
/*5*/
.l-m-5 {margin: 5rem;} /* 80px */
.l-m-5-25 {margin: 5.25rem;} /* 84px */
.l-m-5-5 {margin: 5.5rem;} /* 88px */
.l-m-5-75 {margin: 5.75rem;} /* 92px */
/*6*/
.l-m-6 {margin: 6rem;} /* 96px */
.l-m-6-25 {margin: 6.25rem;} /* 100px */
.l-m-6-5 {margin: 6.5rem;} /* 104px */
.l-m-6-75 {margin: 6.75rem;} /* 108px */
/*7*/
.l-m-7 {margin: 7rem;} /* 112px */
.l-m-7-25 {margin: 7.25rem;} /* 116px */
.l-m-7-5 {margin: 7.5rem;} /* 120px */
.l-m-7-75 {margin: 7.75rem;} /* 124px */
/*8*/
.l-m-8 {margin: 8rem;} /* 128px */
.l-m-8-25 {margin: 8.25rem;} /* 132px */
.l-m-8-5 {margin: 8.5rem;} /* 136px */
.l-m-8-75 {margin: 8.75rem;} /* 140px */
/*9*/
.l-m-9 {margin: 9rem;} /* 144px */
.l-m-9-25 {margin: 9.25rem;} /* 148px */
.l-m-9-5 {margin: 9.5rem;} /* 152px */
.l-m-9-75 {margin: 9.75rem;} /* 156px */
.l-m-10 {margin: 10rem;} /* 160px */

/******************* Margin top classes **************************/
.l-mt-0-25 {margin-top: 0.25rem;} /* 4px */
.l-mt-0-5 {margin-top: 0.5rem;} /* 8px */
.l-mt-0-75 {margin-top: 0.75rem;} /* 12px */
/*1*/
.l-mt-1 {margin-top: 1rem;} /* 16px */
.l-mt-1-25 {margin-top: 1.25rem;} /* 20px */
.l-mt-1-5 {margin-top: 1.5rem;} /* 24px */
.l-mt-1-75 {margin-top: 1.75rem;} /* 28px */
/*2*/
.l-mt-2 {margin-top: 2rem;} /* 32px */
.l-mt-2-25 {margin-top: 2.25rem;} /* 36px */
.l-mt-2-5 {margin-top: 2.5rem;} /* 40px */
.l-mt-2-75 {margin-top: 2.75rem;} /* 44px */
/*3*/
.l-mt-3 {margin-top: 3rem;} /* 48px */
.l-mt-3-25 {margin-top: 2.25rem;} /* 52px */
.l-mt-3-5 {margin-top: 3.5rem;} /* 56px */
.l-mt-3-75 {margin-top: 2.75rem;} /* 60px */
/*4*/
.l-mt-4 {margin-top: 4rem;} /* 64px */
.l-mt-4-25 {margin-top: 2.25rem;} /* 68px */
.l-mt-4-5 {margin-top: 4.5rem;} /* 72px */
.l-mt-4-75 {margin-top: 2.75rem;} /* 76px */
/*5*/
.l-mt-5 {margin-top: 5rem;} /* 80px */
.l-mt-5-25 {margin-top: 2.25rem;} /* 84px */
.l-mt-5-5 {margin-top: 4.5rem;} /* 88px */
.l-mt-5-75 {margin-top: 2.75rem;} /* 92px */

/********************** Margin bottom classes *******************/
.l-mb-0-25 {margin-bottom: 0.25rem;} /* 4px */
.l-mb-0-5 {margin-bottom: 0.5rem;} /* 8px */
.l-mb-0-75 {margin-bottom: 0.75rem;} /* 12px */
/*1*/
.l-mb-1 {margin-bottom: 1rem;} /* 16px */
.l-mb-1-25 {margin-bottom: 1.25rem;} /* 20px */
.l-mb-1-5 {margin-bottom: 1.5rem;} /* 24px */
.l-mb-1-75 {margin-bottom: 1.75rem;} /* 28px */
/*2*/
.l-mb-2 {margin-bottom: 2rem;} /* 32px */
.l-mb-2-25 {margin-bottom: 2.25rem;} /* 36px */
.l-mb-2-5 {margin-bottom: 2.5rem;} /* 40px */
.l-mb-2-75 {margin-bottom: 2.75rem;} /* 44px */
/*3*/
.l-mb-3 {margin-bottom: 3rem;} /* 48px */
.l-mb-3-25 {margin-bottom: 3.25rem;} /* 52px */
.l-mb-3-5 {margin-bottom: 3.5rem;} /* 56px */
.l-mb-3-75 {margin-bottom: 3.75rem;} /* 60px */
/*4*/
.l-mb-4 {margin-bottom: 4rem;} /* 64px */
.l-mb-4-25 {margin-bottom: 4.25rem;} /* 68px */
.l-mb-4-5 {margin-bottom: 4.5rem;} /* 72px */
.l-mb-4-75 {margin-bottom: 4.75rem;} /* 76px */
/*5*/
.l-mb-5 {margin-bottom: 5rem;} /* 80px */

/********************** Margin Left classes *******************/
.l-ml-0-25 {margin-left: 0.25rem;} /* 4px */
.l-ml-0-5 {margin-left: 0.5rem;} /* 8px */
.l-ml-0-75 {margin-left: 0.75rem;} /* 12px */
/*1*/
.l-ml-1 {margin-left: 1rem;} /* 16px */
.l-ml-1-25 {margin-left: 1.25rem;} /* 20px */
.l-ml-1-5 {margin-left: 1.5rem;} /* 24px */
.l-ml-1-75 {margin-left: 1.75rem;} /* 28px */
/*2*/
.l-ml-2 {margin-left: 2rem;} /* 32px */
.l-ml-2-25 {margin-left: 2.25rem;} /* 36px */
.l-ml-2-5 {margin-left: 2.5rem;} /* 40px */
.l-ml-2-75 {margin-left: 2.75rem;} /* 44px */
/*3*/
.l-ml-3 {margin-left: 3rem;} /* 48px */
.l-ml-3-25 {margin-left: 3.25rem;} /* 52px */
.l-ml-3-5 {margin-left: 3.5rem;} /* 56px */
.l-ml-3-75 {margin-left: 3.75rem;} /* 60px */
/*4*/
.l-ml-4 {margin-left: 4rem;} /* 64px */
.l-ml-4-25 {margin-left: 4.25rem;} /* 68px */
.l-ml-4-5 {margin-left: 4.5rem;} /* 72px */
.l-ml-4-75 {margin-left: 4.75rem;} /* 76px */
/*5*/
.l-ml-5 {margin-left: 5rem;} /* 80px */

/******************* Margin Right classes ***********************/
.l-mr-0-25 {margin-right: 0.25rem;} /* 4px */
.l-mr-0-5 {margin-right: 0.5rem;} /* 8px */
.l-mr-0-75 {margin-right: 0.75rem;} /* 12px */
/*1*/
.l-mr-1 {margin-right: 1rem;} /* 16px */
.l-mr-1-25 {margin-right: 1.25rem;} /* 20px */
.l-mr-1-5 {margin-right: 1.5rem;} /* 24px */
.l-mr-1-75 {margin-right: 1.75rem;} /* 28px */
/*2*/
.l-mr-2 {margin-right: 2rem;} /* 32px */
.l-mr-2-25 {margin-right: 2.25rem;} /* 36px */
.l-mr-2-5 {margin-right: 2.5rem;} /* 40px */
.l-mr-2-75 {margin-right: 2.75rem;} /* 44px */
/*3*/
.l-mr-3 {margin-right: 3rem;} /* 48px */
.l-mr-3-25 {margin-right: 3.25rem;} /* 52px */
.l-mr-3-5 {margin-right: 3.5rem;} /* 56px */
.l-mr-3-75 {margin-right: 3.75rem;} /* 60px */
/*4*/
.l-mr-4 {margin-right: 4rem;} /* 64px */
.l-mr-4-25 {margin-right: 4.25rem;} /* 68px */
.l-mr-4-5 {margin-right: 4.5rem;} /* 72px */
.l-mr-4-75 {margin-right: 4.75rem;} /* 76px */
/*5*/
.l-mr-5 {margin-right: 5rem;} /* 80px */


/*----------------------------- Padding Utility classes ---------------------*/
.l-p-0-25 {padding: 0.25rem;} /* 4px */
.l-p-0-5 {padding: 0.5rem;} /* 8px */
.l-p-0-75 {padding: 0.75rem;} /* 12px */
/*1*/
.l-p-1 {padding: 1rem;} /* 16px */
.l-p-1-25 {padding: 1.25rem;} /* 20px */
.l-p-1-5 {padding: 1.5rem;} /* 24px */
.l-p-1-75 {padding: 1.75rem;} /* 28px */
/*2*/
.l-p-2 {padding: 2rem;} /* 32px */
.l-p-2-25 {padding: 2.25rem;} /* 36px */
.l-p-2-5 {padding: 2.5rem;} /* 40px */
.l-p-2-75 {padding: 2.75rem;} /* 44px */
/*3*/
.l-p-3 {padding: 3rem;} /* 48px */
.l-p-3-25 {padding: 3.25rem;} /* 52px */
.l-p-3-5 {padding: 3.5rem;} /* 56px */
.l-p-3-75 {padding: 3.75rem;} /* 60px */
/*4*/
.l-p-4 {padding: 4rem;} /* 64px */
.l-p-4-25 {padding: 4.25rem;} /* 68px */
.l-p-4-5 {padding: 4.5rem;} /* 72px */
.l-p-4-75 {padding: 4.75rem;} /* 76px */
/*5*/
.l-p-5 {padding: 5rem;} /* 80px */
.l-p-5-25 {padding: 5.25rem;} /* 84px */
.l-p-5-5 {padding: 5.5rem;} /* 88px */
.l-p-5-75 {padding: 5.75rem;} /* 92px */
/*6*/
.l-p-6 {padding: 6rem;} /* 96px */
.l-p-6-25 {padding: 6.25rem;} /* 100px */
.l-p-6-5 {padding: 6.5rem;} /* 104px */
.l-p-6-75 {padding: 6.75rem;} /* 108px */
/*7*/
.l-p-7 {padding: 7rem;} /* 112px */
.l-p-7-25 {padding: 7.25rem;} /* 116px */
.l-p-7-5 {padding: 7.5rem;} /* 120px */
.l-p-7-75 {padding: 7.75rem;} /* 124px */
/*8*/
.l-p-8 {padding: 8rem;} /* 128px */
.l-p-8-25 {padding: 8.25rem;} /* 132px */
.l-p-8-5 {padding: 8.5rem;} /* 136px */
.l-p-8-75 {padding: 8.75rem;} /* 140px */
/*9*/
.l-p-9 {padding: 9rem;} /* 144px */
.l-p-9-25 {padding: 9.25rem;} /* 148px */
.l-p-9-5 {padding: 9.5rem;} /* 152px */
.l-p-9-75 {padding: 9.75rem;} /* 156px */
/*10*/
.l-p-10 {padding: 10rem;} /* 160px */

/********************** Padding Left classes *******************/
.l-pl-0-25 {margin-left: 0.25rem;} /* 4px */
.l-pl-0-5 {margin-left: 0.5rem;} /* 8px */
.l-pl-0-75 {margin-left: 0.75rem;} /* 12px */
/*1*/
.l-pl-1 {margin-left: 1rem;} /* 16px */
.l-pl-1-25 {margin-left: 1.25rem;} /* 20px */
.l-pl-1-5 {margin-left: 1.5rem;} /* 24px */
.l-pl-1-75 {margin-left: 1.75rem;} /* 28px */
/*2*/
.l-pl-2 {margin-left: 2rem;} /* 32px */
.l-pl-2-25 {margin-left: 2.25rem;} /* 36px */
.l-pl-2-5 {margin-left: 2.5rem;} /* 40px */
.l-pl-2-75 {margin-left: 2.75rem;} /* 44px */
/*3*/
.l-pl-3 {margin-left: 3rem;} /* 48px */
.l-pl-3-25 {margin-left: 3.25rem;} /* 52px */
.l-pl-3-5 {margin-left: 3.5rem;} /* 56px */
.l-pl-3-75 {margin-left: 3.75rem;} /* 60px */
/*4*/
.l-pl-4 {margin-left: 4rem;} /* 64px */
.l-pl-4-25 {margin-left: 4.25rem;} /* 68px */
.l-pl-4-5 {margin-left: 4.5rem;} /* 72px */
.l-pl-4-75 {margin-left: 4.75rem;} /* 76px */
/*5*/
.l-pl-5 {margin-left: 5rem;} /* 80px */

/********************** Padding right classes *******************/
.l-pr-0-25 {margin-left: 0.25rem;} /* 4px */
.l-pr-0-5 {margin-left: 0.5rem;} /* 8px */
.l-pr-0-75 {margin-left: 0.75rem;} /* 12px */
/*1*/
.l-pr-1 {margin-left: 1rem;} /* 16px */
.l-pr-1-25 {margin-left: 1.25rem;} /* 20px */
.l-pr-1-5 {margin-left: 1.5rem;} /* 24px */
.l-pr-1-75 {margin-left: 1.75rem;} /* 28px */
/*2*/
.l-pr-2 {margin-left: 2rem;} /* 32px */
.l-pr-2-25 {margin-left: 2.25rem;} /* 36px */
.l-pr-2-5 {margin-left: 2.5rem;} /* 40px */
.l-pr-2-75 {margin-left: 2.75rem;} /* 44px */
/*3*/
.l-pr-3 {margin-left: 3rem;} /* 48px */
.l-pr-3-25 {margin-left: 3.25rem;} /* 52px */
.l-pr-3-5 {margin-left: 3.5rem;} /* 56px */
.l-pr-3-75 {margin-left: 3.75rem;} /* 60px */
/*4*/
.l-pr-4 {margin-left: 4rem;} /* 64px */
.l-pr-4-25 {margin-left: 4.25rem;} /* 68px */
.l-pr-4-5 {margin-left: 4.5rem;} /* 72px */
.l-pr-4-75 {margin-left: 4.75rem;} /* 76px */
/*5*/
.l-pr-5 {margin-left: 5rem;} /* 80px */

/********************** Padding Top classes *******************/
.l-pt-0-25 {margin-left: 0.25rem;} /* 4px */
.l-pt-0-5 {margin-left: 0.5rem;} /* 8px */
.l-pt-0-75 {margin-left: 0.75rem;} /* 12px */
/*1*/
.l-pt-1 {margin-left: 1rem;} /* 16px */
.l-pt-1-25 {margin-left: 1.25rem;} /* 20px */
.l-pt-1-5 {margin-left: 1.5rem;} /* 24px */
.l-pt-1-75 {margin-left: 1.75rem;} /* 28px */
/*2*/
.l-pt-2 {margin-left: 2rem;} /* 32px */
.l-pt-2-25 {margin-left: 2.25rem;} /* 36px */
.l-pt-2-5 {margin-left: 2.5rem;} /* 40px */
.l-pt-2-75 {margin-left: 2.75rem;} /* 44px */
/*3*/
.l-pt-3 {margin-left: 3rem;} /* 48px */
.l-pt-3-25 {margin-left: 3.25rem;} /* 52px */
.l-pt-3-5 {margin-left: 3.5rem;} /* 56px */
.l-pt-3-75 {margin-left: 3.75rem;} /* 60px */
/*4*/
.l-pt-4 {margin-left: 4rem;} /* 64px */
.l-pt-4-25 {margin-left: 4.25rem;} /* 68px */
.l-pt-4-5 {margin-left: 4.5rem;} /* 72px */
.l-pt-4-75 {margin-left: 4.75rem;} /* 76px */
/*5*/
.l-pt-5 {margin-left: 5rem;} /* 80px */

/********************** Padding Bottom classes *******************/
.l-pb-0-25 {margin-left: 0.25rem;} /* 4px */
.l-pb-0-5 {margin-left: 0.5rem;} /* 8px */
.l-pb-0-75 {margin-left: 0.75rem;} /* 12px */
/*1*/
.l-pb-1 {margin-left: 1rem;} /* 16px */
.l-pb-1-25 {margin-left: 1.25rem;} /* 20px */
.l-pb-1-5 {margin-left: 1.5rem;} /* 24px */
.l-pb-1-75 {margin-left: 1.75rem;} /* 28px */
/*2*/
.l-pb-2 {margin-left: 2rem;} /* 32px */
.l-pb-2-25 {margin-left: 2.25rem;} /* 36px */
.l-pb-2-5 {margin-left: 2.5rem;} /* 40px */
.l-pb-2-75 {margin-left: 2.75rem;} /* 44px */
/*3*/
.l-pb-3 {margin-left: 3rem;} /* 48px */
.l-pb-3-25 {margin-left: 3.25rem;} /* 52px */
.l-pb-3-5 {margin-left: 3.5rem;} /* 56px */
.l-pb-3-75 {margin-left: 3.75rem;} /* 60px */
/*4*/
.l-pb-4 {margin-left: 4rem;} /* 64px */
.l-pb-4-25 {margin-left: 4.25rem;} /* 68px */
.l-pb-4-5 {margin-left: 4.5rem;} /* 72px */
.l-pb-4-75 {margin-left: 4.75rem;} /* 76px */
/*5*/
.l-pb-5 {margin-left: 5rem;} /* 80px */

/*----------- Horizontal padding classes ---------*/

.l-px-0-25 {padding-left: 0.25rem; /* 4px */padding-right: 0.25rem; /* 4px */}
.l-px-0-5 {padding-left: 0.5rem; /* 8px */padding-right: 0.5rem; /* 8px */}
.l-px-0-75 {padding-left: 0.75rem; /* 12px */padding-right: 0.75rem; /* 12px */}
.l-px-1 {padding-left: 1rem; /* 16px */padding-right: 1rem; /* 16px */}
.l-px-1-25 {padding-left: 1.25rem; /* 20px */padding-right: 1.25rem; /* 20px */}
.l-px-1-5 {padding-left: 1.5rem; /* 24px */padding-right: 1.5rem; /* 24px */}
.l-px-1-75 {padding-left: 1.75rem; /* 28px */padding-right: 1.75rem; /* 28px */}
.l-px-2 {padding-left: 2rem; /* 32px */padding-right: 2rem; /* 32px */}
.l-px-2-25 {padding-left: 2.25rem; /* 36px */padding-right: 2.25rem; /* 36px */}
.l-px-2-5 {padding-left: 2.5rem; /* 40px */padding-right: 2.5rem; /* 40px */}
.l-px-2-75 {padding-left: 2.75rem; /* 44px */padding-right: 2.75rem; /* 44px */}
.l-px-3 {padding-left: 3rem; /* 48px */padding-right: 3rem; /* 48px */}
.l-px-3-25 {padding-left: 3.25rem; /* 52px */padding-right: 3.25rem; /* 52px */}
.l-px-3-5 {padding-left: 3.5rem; /* 56px */padding-right: 3.5rem; /* 56px */}
.l-px-3-75 {padding-left: 3.75rem; /* 60px */padding-right: 3.75rem; /* 60px */}
.l-px-4 {padding-left: 4rem; /* 64px */padding-right: 4rem; /* 64px */}
.l-px-4-25 {padding-left: 4.25rem; /* 68px */padding-right: 4.25rem; /* 68px */}
.l-px-4-5 {padding-left: 4.5rem; /* 72px */padding-right: 4.5rem; /* 72px */}
.l-px-4-75 {padding-left: 4.75rem; /* 76px */padding-right: 4.75rem; /* 76px */}
.l-px-5 {padding-left: 5rem; /* 80px */padding-right: 5rem; /* 80px */}

/*----------- Horizontal Margin classes ---------*/

.l-mx-0-25 {padding-left: 0.25rem; /* 4px */padding-right: 0.25rem; /* 4px */}
.l-mx-0-5 {padding-left: 0.5rem; /* 8px */padding-right: 0.5rem; /* 8px */}
.l-mx-0-75 {padding-left: 0.75rem; /* 12px */padding-right: 0.75rem; /* 12px */}
.l-mx-1 {padding-left: 1rem; /* 16px */padding-right: 1rem; /* 16px */}
.l-mx-1-25 {padding-left: 1.25rem; /* 20px */padding-right: 1.25rem; /* 20px */}
.l-mx-1-5 {padding-left: 1.5rem; /* 24px */padding-right: 1.5rem; /* 24px */}
.l-mx-1-75 {padding-left: 1.75rem; /* 28px */padding-right: 1.75rem; /* 28px */}
.l-mx-2 {padding-left: 2rem; /* 32px */padding-right: 2rem; /* 32px */}
.l-mx-2-25 {padding-left: 2.25rem; /* 36px */padding-right: 2.25rem; /* 36px */}
.l-mx-2-5 {padding-left: 2.5rem; /* 40px */padding-right: 2.5rem; /* 40px */}
.l-mx-2-75 {padding-left: 2.75rem; /* 44px */padding-right: 2.75rem; /* 44px */}
.l-mx-3 {padding-left: 3rem; /* 48px */padding-right: 3rem; /* 48px */}
.l-mx-3-25 {padding-left: 3.25rem; /* 52px */padding-right: 3.25rem; /* 52px */}
.l-mx-3-5 {padding-left: 3.5rem; /* 56px */padding-right: 3.5rem; /* 56px */}
.l-mx-3-75 {padding-left: 3.75rem; /* 60px */padding-right: 3.75rem; /* 60px */}
.l-mx-4 {padding-left: 4rem; /* 64px */padding-right: 4rem; /* 64px */}
.l-mx-4-25 {padding-left: 4.25rem; /* 68px */padding-right: 4.25rem; /* 68px */}
.l-mx-4-5 {padding-left: 4.5rem; /* 72px */padding-right: 4.5rem; /* 72px */}
.l-mx-4-75 {padding-left: 4.75rem; /* 76px */padding-right: 4.75rem; /* 76px */}
.l-mx-5 {padding-left: 5rem; /* 80px */padding-right: 5rem; /* 80px */}

/*----------- Vertical padding classes ---------*/

.l-py-0-25 {padding-left: 0.25rem; /* 4px */padding-right: 0.25rem; /* 4px */}
.l-py-0-5 {padding-left: 0.5rem; /* 8px */padding-right: 0.5rem; /* 8px */}
.l-py-0-75 {padding-left: 0.75rem; /* 12px */padding-right: 0.75rem; /* 12px */}
.l-py-1 {padding-left: 1rem; /* 16px */padding-right: 1rem; /* 16px */}
.l-py-1-25 {padding-left: 1.25rem; /* 20px */padding-right: 1.25rem; /* 20px */}
.l-py-1-5 {padding-left: 1.5rem; /* 24px */padding-right: 1.5rem; /* 24px */}
.l-py-1-75 {padding-left: 1.75rem; /* 28px */padding-right: 1.75rem; /* 28px */}
.l-py-2 {padding-left: 2rem; /* 32px */padding-right: 2rem; /* 32px */}
.l-py-2-25 {padding-left: 2.25rem; /* 36px */padding-right: 2.25rem; /* 36px */}
.l-py-2-5 {padding-left: 2.5rem; /* 40px */padding-right: 2.5rem; /* 40px */}
.l-py-2-75 {padding-left: 2.75rem; /* 44px */padding-right: 2.75rem; /* 44px */}
.l-py-3 {padding-left: 3rem; /* 48px */padding-right: 3rem; /* 48px */}
.l-py-3-25 {padding-left: 3.25rem; /* 52px */padding-right: 3.25rem; /* 52px */}
.l-py-3-5 {padding-left: 3.5rem; /* 56px */padding-right: 3.5rem; /* 56px */}
.l-py-3-75 {padding-left: 3.75rem; /* 60px */padding-right: 3.75rem; /* 60px */}
.l-py-4 {padding-left: 4rem; /* 64px */padding-right: 4rem; /* 64px */}
.l-py-4-25 {padding-left: 4.25rem; /* 68px */padding-right: 4.25rem; /* 68px */}
.l-py-4-5 {padding-left: 4.5rem; /* 72px */padding-right: 4.5rem; /* 72px */}
.l-py-4-75 {padding-left: 4.75rem; /* 76px */padding-right: 4.75rem; /* 76px */}
.l-py-5 {padding-left: 5rem; /* 80px */padding-right: 5rem; /* 80px */}

/*----------- Vertical Margin classes ---------*/

.l-my-0-25 {padding-left: 0.25rem; /* 4px */padding-right: 0.25rem; /* 4px */}
.l-my-0-5 {padding-left: 0.5rem; /* 8px */padding-right: 0.5rem; /* 8px */}
.l-my-0-75 {padding-left: 0.75rem; /* 12px */padding-right: 0.75rem; /* 12px */}
.l-my-1 {padding-left: 1rem; /* 16px */padding-right: 1rem; /* 16px */}
.l-my-1-25 {padding-left: 1.25rem; /* 20px */padding-right: 1.25rem; /* 20px */}
.l-my-1-5 {padding-left: 1.5rem; /* 24px */padding-right: 1.5rem; /* 24px */}
.l-my-1-75 {padding-left: 1.75rem; /* 28px */padding-right: 1.75rem; /* 28px */}
.l-my-2 {padding-left: 2rem; /* 32px */padding-right: 2rem; /* 32px */}
.l-my-2-25 {padding-left: 2.25rem; /* 36px */padding-right: 2.25rem; /* 36px */}
.l-my-2-5 {padding-left: 2.5rem; /* 40px */padding-right: 2.5rem; /* 40px */}
.l-my-2-75 {padding-left: 2.75rem; /* 44px */padding-right: 2.75rem; /* 44px */}
.l-my-3 {padding-left: 3rem; /* 48px */padding-right: 3rem; /* 48px */}
.l-my-3-25 {padding-left: 3.25rem; /* 52px */padding-right: 3.25rem; /* 52px */}
.l-my-3-5 {padding-left: 3.5rem; /* 56px */padding-right: 3.5rem; /* 56px */}
.l-my-3-75 {padding-left: 3.75rem; /* 60px */padding-right: 3.75rem; /* 60px */}
.l-my-4 {padding-left: 4rem; /* 64px */padding-right: 4rem; /* 64px */}
.l-my-4-25 {padding-left: 4.25rem; /* 68px */padding-right: 4.25rem; /* 68px */}
.l-my-4-5 {padding-left: 4.5rem; /* 72px */padding-right: 4.5rem; /* 72px */}
.l-my-4-75 {padding-left: 4.75rem; /* 76px */padding-right: 4.75rem; /* 76px */}
.l-my-5 {padding-left: 5rem; /* 80px */padding-right: 5rem; /* 80px */}

/*Container classes*/
.container-mobile {
  padding-top: 10%;
}

/************ Add flex utility classes ************/
/* Flex Container */
.l-flex {display: flex; /* Make the container a flex container */}
/* Flex Direction */
.u-row {flex-direction: row; /* Arrange flex items horizontally */}
.u-col {flex-direction: column; /* Arrange flex items vertically */}
/* Flex Wrap */
.u-wrap {flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */}
.u-nowrap {flex-wrap: nowrap; /* Prevent flex items from wrapping */}
.u-wrap-reverse {flex-wrap: wrap-reverse; /* Reverse the wrapping direction */}
/* Justify Content */
.u-justify-start {justify-content: flex-start; /* Align flex items to the start of the flex container */}
.u-justify-end {justify-content: flex-end; /* Align flex items to the end of the flex container */}
.u-justify-center {justify-content: center; /* Center align flex items along the main axis */}
.u-justify-between {justify-content: space-between; /* Distribute flex items evenly with space between */}
.u-justify-around {justify-content: space-around; /* Distribute flex items evenly with space around */}
/* Align Items */
.u-align-start {align-items: flex-start; /* Align flex items to the start of the cross axis */}
.u-align-end {align-items: flex-end; /* Align flex items to the end of the cross axis */}
.u-align-center {align-items: center; /* Center align flex items along the cross axis */}
.u-align-baseline {align-items: baseline; /* Align flex items to their baseline */}
.u-align-stretch {align-items: stretch; /* Stretch flex items to fill the container along the cross axis */}
/* Align Content */
.u-align-start {align-content: flex-start; /* Align content to the start of the cross axis */}
.u-align-end {align-content: flex-end; /* Align content to the end of the cross axis */}
.u-align-center {align-content: center; /* Center align content along the cross axis */}
.u-align-between {align-content: space-between; /* Distribute content evenly with space between */}
.u-align-around {align-content: space-around; /* Distribute content evenly with space around */}
.u-align-stretch {align-content: stretch; /* Stretch content to fill the container along the cross axis */}
/* Align Self */
.u-align-self-auto {align-self: auto; /* Reset alignment for individual flex items */}
.u-align-self-start {align-self: flex-start; /* Align individual flex items to the start of the cross axis */}
.u-align-self-end {align-self: flex-end; /* Align individual flex items to the end of the cross axis */}
.u-align-self-center {align-self: center; /* Center align individual flex items along the cross axis */}
.u-align-self-baseline {align-self: baseline; /* Align individual flex items to their baseline */}
.u-align-self-stretch {align-self: stretch; /* Stretch individual flex items to fill the container along the cross axis */}
/* Flex Grow and Shrink */
.u-grow-0 {flex-grow: 0; /* Prevent flex items from growing */}
.u-grow-1 {flex-grow: 1; /* Allow flex items to grow to fill available space */}
.u-shrink-0 {flex-shrink: 0; /* Prevent flex items from shrinking */}
.u-shrink-1 {flex-shrink: 1; /* Allow flex items to shrink if necessary */}
/*********** Grid classes ***************/
/* Grid Container */
.l-grid {display: grid; /* Make the container a grid container */}
/* Grid Columns */
.u-cols-auto {grid-template-columns: auto; /* Automatically size columns based on content */}
.u-cols-fr {
  grid-template-columns: repeat(
    auto-fit,
    minmax(0, 1fr)
  ); /* Fluidly size columns to fill available space */
}
/* Grid Rows */
.u-rows-auto {grid-template-rows: auto; /* Automatically size rows based on content */}
.u-rows-fr {
  grid-template-rows: repeat(
    auto-fit,
    minmax(0, 1fr)
  ); /* Fluidly size rows to fill available space */
}
/* Grid Gap */
.u-gap-0 {gap: 0; /* No gap between grid items */}
.u-gap-1 {gap: 0.25rem; /* 4px gap between grid items */}
.u-gap-2 {gap: 0.5rem; /* 8px gap between grid items */}
.u-gap-3 {gap: 0.75rem; /* 12px gap between grid items */}
.u-gap-4 {gap: 1rem; /* 16px gap between grid items */}
.u-gap-5 {gap: 1.25rem; /* 20px gap between grid items */}
/* Grid Gap X */
.u-gap-x-0 {column-gap: 0; /* No horizontal gap between grid columns */}
.u-gap-x-1 {column-gap: 0.25rem; /* 4px horizontal gap between grid columns */}
.u-gap-x-2 {column-gap: 0.5rem; /* 8px horizontal gap between grid columns */}
.u-gap-x-3 {column-gap: 0.75rem; /* 12px horizontal gap between grid columns */}
.u-gap-x-4 {column-gap: 1rem; /* 16px horizontal gap between grid columns */}
.u-gap-x-5 {column-gap: 1.25rem; /* 20px horizontal gap between grid columns */}
/* Grid Gap Y */
.u-gap-y-0 {row-gap: 0; /* No vertical gap between grid rows */}
.u-gap-y-1 {row-gap: 0.25rem; /* 4px vertical gap between grid rows */}
.u-gap-y-2 {row-gap: 0.5rem; /* 8px vertical gap between grid rows */}
.u-gap-y-3 {row-gap: 0.75rem; /* 12px vertical gap between grid rows */}
.u-gap-y-4 {row-gap: 1rem; /* 16px vertical gap between grid rows */}
.u-gap-y-5 {row-gap: 1.25rem; /* 20px vertical gap between grid rows */}
/*********** container classes *****************/
/* Mobile-first approach */
.l-container,
.l-container-fluid {max-width: 100%; /* Default to full width on mobile */margin: 100px auto 0px auto;}
/* Centered container */
.l-container-centered {margin: 0 auto; /* Center the container horizontally */}
/* Constrained width container */
.l-container-sm {max-width: 576px; /* Constrained width for small devices */}
.l-container-md {max-width: 768px; /* Constrained width for medium devices */}
/* Set the maximum width of elements to 100% of their container */
.l-max-width {max-width: 100%;}
/* Set the maximum width of elements to 700px */
.l-max-width-700 {max-width: 700px;}
/* Set the maximum width of elements to 1250px */
.l-max-width-1250 {max-width: 1250px;}
/* Set the maximum width of elements to 1600px */
.l-max-width-1600 {max-width: 1600px;}
/* Set the width of elements to 100% of their container */
.l-full-width {width: 100%;}
/* Set the width of elements to 50% of their container */
.l-full-width-50 {width: 50%;}
/* Set the width of elements to 75% of their container */
.l-full-width-75 {width: 75%;}
/* Media query for desktop */
@media (min-width: 700px) {
  .l-container-fluid {max-width: 100%; /* Reset to full width on desktop */}
  .l-container {max-width: 1600px;margin: 100px auto 0px auto;}
  .l-container-lg {max-width: 992px; /* Constrained width for large devices */margin: 0 auto;}
  .l-container-xl {max-width: 1200px; /* Constrained width for extra-large devices */}
}
/**** height classes ***/
.h-100 {height: 100px;}
/***** width classes */
.w-full {width: 100%;}
/*** position classes ***/
.u-pos-fixed {position: fixed;}

/* Media query for screens larger than 700px */
@media screen and (min-width: 700px) {
.container {margin-left: 250px;padding: 50px;}
.container-full {width: 100%;max-width: 100%;}
}
